<div class="victoire-content">
    <h1 mat-dialog-title>Félicitation {{data.name}} !!</h1>
    <div mat-dialog-content>
        <p>Vous avez été un vaillant sorcier et êtes venu à bout de tous ces monstres ! <br>Pourdlard est maintenant
            saint et sauf grâce à vous !</p>
        <img SRC="https://media.giphy.com/media/NxLWZYEM4l5ug/giphy.gif">
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>C'était fun !</button>
    </div>
</div>