<div class="aide-content">
    <div class="aide">Dans ce jeu vous incarnez un célèbre sorcier dans Poudlard.<br>Malheuresement l'école a été envahie de force par les animaux magiques de la région ! Vous êtes donc chargé de vaincre tous ces monstres pour que l'école puisse réouvrir et que les cours reprennent de manière normale ! (RIP les vacances c'est fini)<br>
            Comme vous êtes l'un des plus grand sorcier de tout les temps vous avez à votre disposition un grimmoire magique avec tous les sorts que vous avez appris, chaque monstre necessite un ou plusieurs sorts pour pouvoir l'éliminer.<br>
            Venez à bout de tous les monstres à travers des nivaux plus dûrs les uns que les autres (au pirs des cas tu loupes tes sorts et tu peux recommencer ...)<br><br>
            
            Jeu developpé dans l'entente et la bonne humeur par notre chère équipe :<br><br>
                - Mr Bouchut Florian aka le scénariste hollywodien de l'Auvergne<br>
                - Mr Aristakessyan Armen aka l'homme venant de Russie mais qui est Arménien (on est tous Arménien en soit ...)<br>
                - Mr Pouly François aka l'homme qui détruit le babyfoot tous les jours au BDE<br>
                - Mr Nifosi Antony aka moi même</div>
</div>